.max-w-4xl {
  max-width: 88rem;
}
.text-size {
  font-family: Google Sans, Segoe UI, system-ui, -apple-system, sans-serif;
  font-weight: 500;
  font-size: clamp(1.25rem, 1.11rem + 0.71vw, 1.75rem);
  line-height: 1.2;
  text-align: left;
}
.desc-mar {
  margin-top: 25px;
  line-height: 1.7;
  color: #585b63;
}
.active-anchor:active {
  filter: brightness(0.9);
}
.round {
  border: 1px solid #585b63;
}
.search-container {
  position: relative;
}
.icon-center {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translate(-50%, -50%);
}
.not-found {
  display: none;
  font-size: 1.4rem;
  font-weight: 600;
}
.p-3 {
  padding: 1rem !important;
}
.mb-5 {
  margin-bottom: 3rem !important;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 2px solid #000000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
