pre {
  overflow: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
}
pre copy-code-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
/* .line {
  display: block;
} */
.mb-6 {
  font-size: 1.25rem;
  line-height: 2;
  color: rgba(34, 41, 47, var(--text-opacity));
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
::selection {
  color: black;
  background: #ffff99;
}
.text-2xl {
  font-size: 1.5rem;
  color: rgba(34, 41, 47, var(--text-opacity));
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.text-3xl {
  text-align: center;
  font-size: 3rem;
  padding: 50px 0;
  white-space: normal;
  line-height: 1.1;
}
div {
  text-align: center;
  font-size: 1.2rem;
  /* font-weight: 600; */
}
.description {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  color: #e07171;
  padding-bottom: 1rem;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.border-top {
  background-color: rgba(226, 232, 240, var(--bg-opacity));
  height: 1px;
  border: 1px solid #e2e8f0;
}
.date {
  font-size: 1.25rem;
  /* color: #a06969; */
  color: #e07171;
  padding-bottom: 20px;
  position: relative;
  display: block;
}
/* .max-w-4xl {
  max-width: 62rem;
} */
blockquote {
  background-color: rgba(0, 133, 242, 0.1);
  border-left: 4px solid #0085f2;
  margin-bottom: 15px;
  padding: 0px 12px;
  border-radius: 0.25rem;
  margin-top: 15px;
}

blockquote p {
  padding: 10px;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  margin: 15px;
  font-size: 1.5rem;
  margin: 15px;
}