pre {
  overflow: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
}
pre copy-code-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
/* .line {
  display: block;
} */
.mb-6 {
  font-size: 1.25rem;
  line-height: 2;
  color: rgba(34, 41, 47, var(--text-opacity));
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
::selection {
  color: black;
  background: #ffff99;
}
.text-2xl {
  font-size: 1.5rem;
  color: rgba(34, 41, 47, var(--text-opacity));
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.text-3xl {
  text-align: center;
  font-size: 3rem;
  padding: 50px 0;
  white-space: normal;
  line-height: 1.1;
}
div {
  text-align: center;
  font-size: 1.2rem;
  /* font-weight: 600; */
}
.description {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  color: #e07171;
  padding-bottom: 1rem;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.border-top {
  background-color: rgba(226, 232, 240, var(--bg-opacity));
  height: 1px;
  border: 1px solid #e2e8f0;
}
.date {
  font-size: 1.25rem;
  /* color: #a06969; */
  color: #e07171;
  padding-bottom: 20px;
  position: relative;
  display: block;
}
/* .max-w-4xl {
  max-width: 62rem;
} */
blockquote {
  background-color: rgba(0, 133, 242, 0.1);
  border-left: 4px solid #0085f2;
  margin-bottom: 15px;
  padding: 0px 12px;
  border-radius: 0.25rem;
  margin-top: 15px;
}

blockquote p {
  padding: 10px;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  margin: 15px;
  font-size: 1.5rem;
  margin: 15px;
}
.gap-4 {
  list-style: none;
}
/* scroll to top button styles */
html {
  scroll-behavior: smooth;
}
#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 12;
}
#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #001a2e;
}
/* share button */
.share-btn-container {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.share-btn-container a i {
  font-size: 32px;
}

.share-btn-container a {
  margin: 12px 0;
  transition: 500ms;
}

.share-btn-container a:hover {
  transform: scale(1.2);
}

.share-btn-container .fa-facebook {
  color: #3b5998;
}

.share-btn-container .fa-twitter {
  color: #1da1f2;
}

.share-btn-container .fa-linkedin {
  color: #0077b5;
}

.share-btn-container .fa-pinterest {
  color: #bd081c;
}

.share-btn-container .fa-whatsapp {
  color: #25d366;
}

/* Media Queries */

@media (max-width: 1000px) {
  .content {
    padding: 8px 32px;
  }

  .share-btn-container {
    position: sticky;
    transform: unset;
    top: unset;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.158);
    padding: 16px 0;
    justify-content: center;
  }

  .share-btn-container a {
    margin: 0 16px;
  }
}
