@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap');
pre {
  overflow: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
  max-height: 700px;
}
pre copy-code-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.mb-6 {
  font-size: 1.25rem;
  line-height: 1.7;
  color: rgba(34, 41, 47, var(--text-opacity));
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.tags-font {
  font-size: 1.25rem;
  line-height: 1.7;
  color: rgba(34, 41, 47, var(--text-opacity));
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.text-2xl {
  font-size: 1.5rem;
  color: rgba(34, 41, 47, var(--text-opacity));
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.text-3xl {
  text-align: center;
  font-size: 3rem;
  padding: 50px 0;
  white-space: normal;
  line-height: 1.25;
}
.left {
  text-align: left !important;
}
.tags {
  text-align: center;
  font-size: 1.2rem;
}
.description {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  color: #e07171;
  padding-bottom: 1rem;
}
.hero {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
.border-top {
  background-color: rgba(226, 232, 240, var(--bg-opacity));
  height: 1px;
  border: 1px solid #e2e8f0;
}
.date {
  font-size: 1.15rem;
  color: rgba(0, 0, 0, 0.726);
  font-weight: 600;
  text-align: center;
  padding-bottom: 20px;
  position: relative;
  display: block;
}
.categories {
  text-align: center;
}
.max-w-4xl {
  max-width: 62rem;
}
blockquote {
  background-color: rgba(0, 133, 242, 0.1);
  border-left: 4px solid #0085f2;
  margin-bottom: 15px;
  padding: 0px 12px;
  border-radius: 0.25rem;
  margin-top: 15px;
}
blockquote p {
  padding: 10px;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  margin: 15px;
  font-size: 1.2rem;
  font-weight: 520;
  margin: 15px;
}
.gap-4 {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
#progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1200;
}
#progress-value {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #001a2e;
}
.share-btn-container {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}
.share-btn-container a i {
  font-size: 32px;
}
.share-btn-container a {
  margin: 12px 0;
  transition: 500ms;
}
.share-btn-container a:hover {
  transform: scale(1.2);
}
.share-btn-container .fa-facebook {
  color: #3982e4;
}
.share-btn-container .fa-twitter {
  color: #1da1f2;
}
.share-btn-container .fa-linkedin {
  color: #0077b5;
}
.share-btn-container .fa-pinterest {
  color: #bd081c;
}
.share-btn-container .fa-whatsapp {
  color: #25d366;
}
@media (max-width: 1310px) {
  .content {
    padding: 8px 32px;
  }
  .share-btn-container {
    position: sticky;
    transform: unset;
    margin-top: 50px;
    top: unset;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    box-shadow: 0px 3px 10px rgba(87, 78, 78, 0.11);
    padding: 13px 0;
    justify-content: center;
  }
  .share-btn-container a {
    margin: 0 16px;
  }
}
.mar {
  margin: 25px;
}
.card {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  top: 0;
}
.card article {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card time {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 2em 0 0 0;
}
@media (min-width: 60em) {
  .item-1 {
    grid-column: 1 / span 2;
  }
  .item-1 h1 {
    font-size: 24px;
  }
}
.round {
  border-radius: 10px;
}
.thumb {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border-radius: 5px;
}
.commentss {
  position: relative;
  width: 60%;
  left: 50%;
  transform: translateX(-50%);
}
.bottomm {
  margin-bottom: 40px;
  margin-top: 40px;
}
.footer-top {
  padding-top: 40px;
}
.video-container {
  position: relative;
  width: 90%;
  margin: auto;
}
video {
  width: 100%;
  border-radius: 4px;
}
.video-text {
  position: absolute;
  top: 10%;
  left: 50%;
  font-family: 'IBM Plex Mono', monospace;
  transform: translate(-50%, -10%);
  font-size: 1.5em;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  pointer-events: none;
}
@media (max-width: 460px) {
  .video-text {
    font-size: 18px;
  }
  video {
    width: 100%;
  }
}
.img-margin {
  margin: auto;
}
.main {
  margin: 20px;
  font-weight: bold;
  font-family: sans-serif;
}
.tag {
  padding: 4px 5px;
}
.taghead {
  font-size: 18px;
  font-weight: 800;
}
.content__item li {
  list-style: none;
}
.content__item {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  counter-increment: itemcounter;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  pointer-events: none;
  list-style: none;
}
.content__item::before {
  color: var(--color-number);
  position: absolute;
  top: 0;
  left: 0;
}
.button {
  pointer-events: auto;
  cursor: pointer;
  background: #e7e7e7;
  border: none;
  padding: 1.5rem 3rem;
  margin: 10px;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
}
.button::before,
.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.button--pandora {
  background: #000;
  font-weight: 700;
  padding: 0;
  border-radius: 5px;
}
.button--pandora span {
  display: block;
  background: #a7a7a7;
  color: #000;
  font-weight: 600;
  font-size: 18px;
  padding: 1.5rem 2rem;
  border: 1px solid #000;
  border-radius: 5px;
  transform: translate3d(-4px, -4px, 0);
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}
.button--pandora:hover span {
  transform: translate3d(-8px, -8px, 0);
}
.prev-next-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  margin: 4rem auto;
}
.prev-next-button {
  padding: 8px 19px;
  border-radius: 4px;
  text-decoration: none;
  text-align: left;
  font-size: 18px;
  margin: 0 10px;
  transition: background-color 0.2s ease;
}
.prev-next-button-title {
  font-weight: 600;
}
@media (max-width: 900px) {
  .prev-next-buttons {
    flex-wrap: wrap;
  }
  .prev-next-button {
    width: 100%;
    text-align: center;
    text-align: left;
    margin-bottom: 8px;
  }
}
.satr {
  display: block;
  text-align: left;
  margin-bottom: 7px;
}
.button-transition {
  transition: 0.2s ease-in-out;
}
strong {
  font-weight: 600;
}
