<body
  class="bg-white dark:bg-zinc-900 text-zinc-900 dark:text-zinc-300 break-words leading-6"
  ><slot />
</body>

<!-- Google Tag Manager (noscript) -->
<noscript
  ><iframe
    src="https://www.googletagmanager.com/ns.html?id=GTM-5FBVQV5"
    height="0"
    width="0"
    style="display:none;visibility:hidden"></iframe></noscript
>
<!-- End Google Tag Manager (noscript) -->
