<body
  class="bg-white dark:bg-zinc-900 text-zinc-900 dark:text-zinc-300 selection:bg-black selection:text-white dark:selection:bg-white dark:selection:text-black break-words leading-6"
  ><slot />
</body>
