---
import { HOMEPAGE_URL } from '../config'

const today = new Date()
---

<footer class="p-4 text-center footer-top">
  &copy; {today.getFullYear()}
  <a href={HOMEPAGE_URL}>Solutions Blog</a>. All rights reserved.
</footer>
<!-- text-zinc-500 -->
