---
import ThemeToggle from './ThemeToggleButton'
import DropdownMenu from './DropdownMenu'
import { Icon } from 'astro-icon'

const allPosts = await Astro.glob('../pages/posts/*.md')
const allTags = new Set<string>()
allPosts.map(post => {
  post.frontmatter.tags &&
    post.frontmatter.tags.map((tag: string) => allTags.add(tag))
})
---

<header class="fixed max-[1460px]:absolute w-full p-2 z-20 backdrop-blur-md">
  <div class="mx-auto max-w-3xl">
    <nav class="flex items-center gap-3 text-base">
      <a href="/" class="group">
        <h2
          class="font-semibold font-mono tracking-tighter max-sm:text-base p-2 text-xl"
        >
          Frontend Solutions
        </h2>
      </a>
      <div class="flex-1"></div>
      <a href="/rss.xml" title="Rss feed" target="_blank">
        <Icon
          style="display:inline;"
          class="hover:text-red-900 button-transition"
          name="tabler:rss"
          width="23"
          height="23"
        />
      </a>
      <ThemeToggle client:visible />
      <DropdownMenu client:visible tags={Array.from(allTags)} />
    </nav>
  </div>
</header>
