<head>
  <script
    src="https://platform-api.sharethis.com/js/sharethis.js#property=63ab5de365735e001232dc0a&product=inline-reaction-buttons&source=platform"
    async
  ></script>
</head>
<body>
  <div class="sharethis-inline-reaction-buttons mar"></div>
</body>
