<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
  />
</head>
<body>
  <div class="share-btn-container">
    <a href="#" class="facebook-btn">
      <i class="fab fa-facebook"></i>
    </a>

    <a href="#" class="twitter-btn">
      <i class="fab fa-twitter"></i>
    </a>

    <a href="#" class="pinterest-btn">
      <i class="fab fa-pinterest"></i>
    </a>

    <a href="#" class="linkedin-btn">
      <i class="fab fa-linkedin"></i>
    </a>

    <a href="#" class="whatsapp-btn">
      <i class="fab fa-whatsapp"></i>
    </a>
  </div>

  <script src="../CopyCodeButton/share.js"></script>
</body>
