---
import './base.css'
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>CSS Button Styles for Links | Solutions Blog</title>
  <link rel="stylesheet" href="https://use.typekit.net/rnz2bks.css" />
</head>
<body class="demo-1">
  <main>
    <ol class="content">
      <li class="content__item">
        <button class="button button--pan"><span>Upload</span></button>
      </li>
      <li class="content__item">
        <button class="button button--hyperion">
          <span><span>New page</span></span>
        </button>
      </li>
      <li class="content__item">
        <button class="button button--mimas"><span>Render</span></button>
      </li>
      <li class="content__item">
        <button class="button button--atlas">
          <span>Subscribe</span>
          <div class="marquee" aria-hidden="true">
            <div class="marquee__inner">
              <span>Subscribe</span>
              <span>Subscribe</span>
              <span>Subscribe</span>
              <span>Subscribe</span>
            </div>
          </div>
        </button>
      </li>
      <li class="content__item">
        <button class="button button--kari">
          <span>Send Love</span>
          <div class="marquee" aria-hidden="true">
            <div class="marquee__inner">
              <span>Send Love</span>
              <span>Send Love</span>
              <span>Send Love</span>
              <span>Send Love</span>
            </div>
          </div>
        </button>
      </li>
      <li class="content__item">
        <button class="button button--pandora">
          <span>Activate Card</span>
        </button>
      </li>
      <li class="content__item">
        <button class="button button--janus"><span>Reshape</span></button>
      </li>
      <li class="content__item">
        <button class="button button--anthe"><span>Initialize</span></button>
      </li>
      <li class="content__item">
        <button class="button button--pallene">Hide Details</button>
      </li>
      <li class="content__item">
        <button class="button button--telesto">
          <span><span>Verify</span></span>
        </button>
      </li>
    </ol>
  </main>
</body>
