---
import './style.css'
---

<head>
  <meta charset="utf-8" />
  <title>Draggable Slider Tabs | CodingNepal</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Fontawesome CDN Link -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  />
</head>
<body>
  <div class="wrapper">
    <div class="icon"><i id="left" class="fa-solid fa-angle-left"></i></div>
    <ul class="tabs-box">
      <li class="tab">Programming</li>
      <li class="tab active">HTML</li>
      <li class="tab">CSS</li>
      <li class="tab">Python</li>
      <li class="tab">Frontend Development</li>
      <li class="tab">Javascript</li>
      <li class="tab">C++</li>
      <li class="tab">C Language</li>
      <li class="tab">Java</li>
      <li class="tab">Coding</li>
      <li class="tab">PHP</li>
      <li class="tab">Study</li>
      <li class="tab">Computer Science</li>
      <li class="tab">Google</li>
      <li class="tab">AI</li>
    </ul>
    <div class="icon"><i id="right" class="fa-solid fa-angle-right"></i></div>
  </div>
  <script>
    import './script.js'
  </script>
</body>
