---
import './style.css'
---

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://use.typekit.net/rnz2bks.css" />
  <title>Verify Button || Solutions Blog</title>
</head>
<body>
  <div class="center">
    <li class="content__item">
      <button class="button button--telesto">
        <span><span>Verify</span></span>
      </button>
    </li>
  </div>
</body>
